.App {
  width: 50rem;
  border-radius: 0.5rem;
  border: 3px solid var(--green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
@media (max-width: 400px) {
  .App {
    width: 35rem;
  }
}
