@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@400;600&display=swap");
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
:root {
  --black: #272727;
  --gray: #747474;
  --orange: #ff652f;
  --yellow: #ffe400;
  --blue: #14a76c;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
}
