@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@400;600&display=swap");
html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
:root {
  --black: #272727;
  --gray: #b4b4b4;
  --orange: #ff652f;
  --yellow: #ffe400;
  --green: #14a76c;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
}
#root {
  display: flex;
  justify-content: center;
  padding: 5rem;
}
.btn {
  font-family: "Bungee", "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 15rem;
  padding: 1.3rem 2.5rem;
  background: none;
  background-color: var(--yellow);
  border-radius: 0.5rem;
  border: none;
  color: var(--black);
  transition: background-color cubic-bezier(0.55, 0.055, 0.675, 0.19) 0.5s;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: var(--green);
}
