.LeaderBoard {
  margin: 2rem 0;
  width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.LeaderBoard__heading {
  font-family: "Bungee", "Poppins", sans-serif;
  font-size: 2.2rem;
  color: var(--green);
  letter-spacing: 0.4rem;
}
