.LeaderBoard {
  margin: 2rem 0;
  width: 40rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: flex-start;
  align-items: center;
}
.LeaderBoard__heading {
  font-family: "Bungee", "Poppins", sans-serif;
  font-size: 2.2rem;
  color: var(--green);
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}
.LeaderBoard__list {
  list-style: none;
  font-size: 1.5rem;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.LeaderBoard__list__item {
  font-weight: 600;
  padding: 1.5rem 2rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 80%;
  border-width: 3px;
  border-style: solid;
  color: var(--gray);
}
.border-even {
  border-color: var(--orange);
}
.border-odd {
  border-color: var(--yellow);
}
@media (max-width: 400px) {
  .LeaderBoard {
    width: 35rem;
    padding: 0;
  }
}
